/* Seletores
        Tag HTML
        * - TUDO
        #id - Id de uma tag HTML
        .classe
       */
* {
  margin: 2px;
  padding: 1px;
}

.titulo {
  background-color: thistle;
  color: black;
  border: 1px solid thistle;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.texto {
  font-size: large;
}

.mt-20 {
  margin-top: 20px;
}

.social {
  width: 50px;
}

.photo {
  width: 450px;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.container > div {
  width: 700px;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}

.texto:hover {
  background-color: rgb(244, 238, 238);
}

.nav-button {
  margin: 10px;
  border: 1px none red;
  padding: 5px;
}

.nav-button:hover {
  background-color: darkgray;
  color: white;
}

hr {
  display: show;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

#brimg {
  border-radius: 5%;
}

.subtitulo {
  background-color: thistle;
  color: black;
  border: 4px solid gainsboro;
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
}

.center {
  text-align: center;
}

.social {
  height: 25px;
  width: 25px;
}
